<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head(${pizza.getName()})}"></head>

    <body>
        <h1 th:text=" ${pizza.getName()}" class="text-center pt-4 pb-5"></h1>

        <div class="container py-4">

            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="show-img-container">
                        <img th:if="${pizza.getUrl()} != null" th:src="@{${pizza.getUrl()}}" th:alt="${pizza.getName()}">
                        <img th:unless="${pizza.getUrl()} != null" th:src="@{/images/pizza.jpg}" th:alt="${pizza.getName()}">
                    </div>
                </div>

                <div class="col-12 col-md-6 d-flex flex-column gap-4 ps-md-5 pt-4 pt-md-0">
                    <div class="d-flex align-items-center gap-3">
                        <h6 class="text-decoration-underline">Prezzo:</h6>
                        <h3 th:text=" ${pizza.getPrice()} + '&euro;'"></h3>
                    </div>
                    <div class="d-flex align-items-center gap-3">
                        <h6 class="text-decoration-underline">Descrizione:</h6>
                        <h5 th:text=" ${pizza.getDescription()}"></h5>
                    </div>
                </div>

                <div class="col-12 d-flex align-items-end gap-3">
                    <button class="btn btn-danger mt-4" data-bs-toggle="modal" data-bs-target="#deleteModal" th:attr="onclick=|setPizzaData(${pizza.getId()}, '${pizza.getName()}')|">Elimina</button>
                    <a th:href="@{/edit/{id}(id=${pizza.getId()})}" class="btn btn-success">Modifica</a>
                </div>
            </div>

            <div class="row justify-content-center pt-5 pb-5">
                <div class="col-12 d-flex justify-content-center pt-1 pt-md-4">
                    <a th:href="@{/}" class="btn btn-outline-light fs-2">Home</a>
                </div>
            </div>
        </div>

        <div th:replace="fragments/modal.html :: modal('Sei sicuro di voler eliminare questa pizza? Questa azione è irreversibile.', 'Annulla', 'Elimina')"></div>

        <div th:replace="fragments/bootstrap_import :: js()"></div>
    </body>
</html>